.faq{
    padding:5vw;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }
    
    &__questions{

        &__item{
            background-color: #13151d;
            margin-bottom: 16px;

            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                p{
                    @media(max-width: 768px) {
                    width: 90%;
                    }
                }


                &::after {
                    content: '+';
                    top: 0;
                    position: absolute;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer{
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: all ease-in-out 0.4s;
                
                p{
                    margin-bottom: 14px;

                }

                &__list{
                    padding: 0 24px;
                    &__item{
                        margin-bottom: 8px;
                        list-style-type:circle;
                    }
                }
            }

            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                }
                
                .faq__questions__item__answer{
                    transition: all ease-in-out 0.2s;
                    height: auto;
                    padding-bottom: 24px;
                }
            }

        }
    }
}