@use "variaveis";

.shows{
    padding:5vw;
    min-height: 50vw;

    &__list{
        margin-top: 34px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media(max-width: 768px) {
            grid-template-columns: 1fr 1fr ;
            }

        &--is--active{
            display: grid;
        }

        &__item{
            img{
                border-radius: 4px;
                max-width: 100%;
                cursor: pointer;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        @media(max-width: 768px) {
            white-space: nowrap;
            overflow-x:scroll;
            padding-left: 10px;
        }

        &__button{
            color: variaveis.$corTextoSecundario;
            font-size: 16px;
            border: none;
            padding-bottom: 5px;
            height: 38px;
            width: 100%;
            text-transform: uppercase;
            margin: 0 ;
            border-bottom: 5px solid transparent;
            cursor: pointer;
            background-color: transparent;
            transition: all ease-in-out 0.2s;
            border-radius: 4px;

            &:nth-child(2){
                margin: 0 2vw;
            }

            &:hover{
                background-color: #121216;
            }

            &--is--active{
                border-bottom: 5px solid variaveis.$corTextoSecundario;
            }

            @media(max-width: 768px) {
            font-size: 16px;
            }
        }
    }
}